body{
    background-image: url(Video-ezgif.com-optimize.gif) center center no-repeat;;
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
